* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f5f8ff;
}
header {
	height: 90vh;
}

nav h1{
	margin-top: -10px;
	margin-left: 70px;
	color: #00b3c6;
	font-size: 30px;
}

nav
{
	width: 100%;
	height: 90px;
	background-color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px 2%;
	position: fixed;
	top: 0px;
	z-index: 10;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

nav li, a, button
{
	float: left;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 13px;
	color: #2E3D49;
	display: block;
	text-decoration: none;
	text-align: center;
}

nav ul li img {
	width: 20px;
	margin-right: 10px;
	transform: translateY(5px);
	padding-top: 5px;
}

nav ul li 
{
	list-style: none;
	display: inline-block;
	padding: 0px 20px;
}

nav ul li a
{
	transition: all 0.3s ease 0s;
}

nav ul li a:hover
{
	color: #ffffff;
}

nav .eks img {
	width: 30px;
	height: 30px;
	margin-right: 40px;
  }

nav button
{
	padding: 9px 25px;
	background: linear-gradient(to right, #00b3c6, #27a2df);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	transition: all 0.3s ease 0s;

}

nav button:hover
{
	opacity: .9;
}
nav .search
{
	float: right;
}
nav .search .srch
{
	font-size: 13px;
	width: 300px;
	border: none;
	outline: none;
	border-bottom: 2px solid #00b3c6;
	padding: 9px;
}
nav .search button
{
	margin-right: 5px;
	float: right;
	margin-left: 10px;
}
nav .switch-tab {
	cursor: pointer;
	visibility: hidden;
}
nav .switch-tab img {
	width: 20px;
}
nav .check-box {
	cursor: pointer;
	visibility: hidden;
}


.active {
	color: #00b3c6;
	border-radius: 5px;
	background: white;
}
a:hover{
	opacity: 0.8;
}


input::placeholder {
	color: rgb(255, 255, 255);
}

.logo img{
	width: 120px;
	cursor: pointer;
	transition: all 1s;
	margin-left: -280px;
	margin-top: -80px;

}

nav .get-started{
	padding: 2px 10px;
	color: #ffffff;
	cursor: pointer;
	transition: .5s;
	text-decoration: none;
	margin-left: 750px;
}

a, button {
	float: left;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #2E3D49;
	display: block;
	text-decoration: none;
	text-align: center;
}
input::placeholder {
	color: rgb(255, 255, 255);
}

.logo img{
	width: 120px;
	cursor: pointer;
	transition: all 1s;
	margin-right: 700px;
}
.logo img{
	width: 490px;
	height: 490px;
	margin-top: -270px;
	margin-left: 450px;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
  margin-top: -400px;
}
#search-container {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
}
#search-container input {
  background-color: transparent;
  width: 40%;
  border: 2px solid #00b3c6;
  padding: 1em 0.3em;
  
}
#search-container input:focus {
  border-bottom-color: #00b3c6;
}
#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #00b3c6;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 7px;
}
#buttons{
	margin-left: 160px;
}

.button-value {
  border: 2px solid #00b3c6;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #00b3c6;
  cursor: pointer;
 
  margin-left: 10px;
}
.active {
  background-color: #00b3c6;
  color: #ffffff;
}
#products {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.5em;
  padding: 6em 15em;
}
.card {
  background-color: #ffffff;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
.image-container {
  text-align: center;
}
img {
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}
.container {
  padding-top: 1em;
  color: #110f29;
}
.container h5 {
  font-weight: 500;
}
.hide {
  display: none;
}
@media screen and (max-width: 720px) {
  img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }
  .card {
    max-width: 10em;
    margin-top: 1em;
  }
  #products {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}